@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #1E293A;
  color: #EAEAEA;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 767px) {
  .main-wrapper {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template: 
    "section" 100vh
    "aside" 1fr / 1fr;
  }
}

.sidebar {
grid-area: aside;
background-color: #0E1722;
height: 100vh;
}

.NumberCalculator {
grid-area: section;
}


@media screen and (min-width: 768px)
{
.main-wrapper {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  grid-template: 
  "aside section" 1fr / 40vh 1fr;
}
}